#include <zephyr/dt-bindings/ipc_service/static_vrings.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/ {
    chosen {
        /delete-property/ zephyr,console;
        /delete-property/ zephyr,shell-uart;
        /delete-property/ zephyr,ipc;
        /delete-property/ zephyr,ipc_shm;
        zephyr,ipc = &ipc0;
    };

    ocram2_ipc0: memory@202c0000 {
        compatible = "zephyr,memory-region", "mmio-sram";
        reg = <0x202c0000 DT_SIZE_K(32)>;
        zephyr,memory-region = "OCRAM2_IPC0";
        zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_IO)>;
    };

    ocram2_ipc1: memory@202c8000 {
        compatible = "zephyr,memory-region", "mmio-sram";
        reg = <0x202c8000 DT_SIZE_K(32)>;
        zephyr,memory-region = "OCRAM2_IPC1";
        zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_IO)>;
    };

    soc {
        /delete-node/ gpt@400f0000;

        gpt2_hw_timer: gpt@400f0000 {
            compatible = "nxp,gpt-hw-timer";
            reg = <0x400f0000 0x4000>;
            interrupts = <120 0>;
            status = "okay";
        };

        /delete-node/ mailbox@40c4c000;

        mbox: mbox@40c4c000 {
            compatible = "nxp,mbox-imx-mu";
            reg = <0x40c4c000 0x4000>;
            interrupts = <118 0>;
            rx-channels = <4>;
            #mbox-cells = <1>;
            status = "okay";
        };
    };

    ipc {
        /delete-node/ ipc0;

        ipc0: ipc0 {
            compatible = "zephyr,ipc-openamp-static-vrings";
            memory-region = <&ocram2_ipc0>;
            mboxes = <&mbox 0>, <&mbox 1>;
            mbox-names = "rx", "tx";
            role = "remote";
            status = "okay";
        };

        ipc1: ipc1 {
            compatible = "zephyr,ipc-openamp-static-vrings";
            memory-region = <&ocram2_ipc1>;
            mboxes = <&mbox 2>, <&mbox 3>;
            mbox-names = "rx", "tx";
            role = "remote";
            zephyr,priority = <1 PRIO_COOP>;
            zephyr,buffer-size = <128>;
            status = "okay";
        };
    };
};

&lpuart2 {
    status = "disabled";
};

&gpt_hw_timer {
    status = "disabled";
};